{% extends "backend/base_template.html" %}
{% block content %}
<div class="container">

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h3 class="">Vacancies list</h3>

            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover dataTable dtr-inline" id="table">
                <thead>
                    <tr>
                        <th>
                            Branch
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Exp
                        </th>
                        <th>
                            salary
                        </th>
                        <th>
                            Qualification
                        </th>
                        <th>
                            Type
                        </th> 
                         <th>
                            Timings
                        </th> 
                         <th>
                            Contact
                        </th> 
                         <th>
                            Email
                        </th>  
                        <th>
                            Skills
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in list_of_contacts.items %}
                    <tr>
                        <td>
                            {{ item.branchrelation.branch.name}}
                        </td>
                        <td>
                            {{ item.name}}
                        </td>
                        <td>
                            {{ item.experience}}
                        </td>
                         <td>
                            {{ item.salary }}
                        </td>
                        <td>
                            {{ item.qualifications }}
                        </td>
                        <td>
                            {{ item.job_type}}
                        </td>
                        <td>
                            {{ item.job_timings}}
                        </td>
                        <td>
                            {{ item.contact_no}}
                        </td>
                        <td>
                            {{ item.contact_email}}
                        </td>
                        <td>
                            {% for skill in item.postion_relation %}
                                <p> {{ skill.skill }}</p>
                            {% endfor %}
                        </td>                       
                        <td>
                            <a href="{{ url_for('careers.edit',id=item.id) }}"><i class="fa fa-edit"></i></a>
                            <a href="{{ url_for('careers.delete',id=item.id) }}"><i class="fa fa-trash red-color"></i></a>
                        </td>
                      
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <!-- Pagination Links-->
            <div class="text-right">
                <a href="{{ url_for('careers.list', page=list_of_contacts.prev_num) }}" class="btn btn-outline-dark 
           {% if list_of_contacts.page == 1 %}disabled{% endif %}">
                    &laquo;
                </a>
                <!-- Loop through the number of pages to display a link for each-->
                {% for page_num in list_of_contacts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                {% if list_of_contacts.page == page_num %}
                <a href="{{ url_for('careers.list', page=page_num) }}" class="btn btn-dark">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('careers.list', page=page_num) }}" class="btn btn-outline-dark">
                    {{ page_num }}
                </a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
                {% endfor %}
                <a href="{{ url_for('careers.list', page=list_of_contacts.next_num) }}" class="btn btn-outline-dark 
           {% if list_of_contacts.page == list_of_contacts.pages %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
            <p class="text-right mt-3">
                Showing page {{ list_of_contacts.page }} of {{ list_of_contacts.pages }}
            </p>
        </div>
    </div>
</div>

{% endblock %}
