{% extends "home.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-center">True Valuation For Gold</h1>
            <p class="para">We are <strong>India’s No. 1 GOLD JEWELRY BUYER COMPANY IN BANGALORE.</strong> Walk-IN to our nearest <a href="/">gold buyers</a> branch to validate your gold jewellery before you SELL GOLD. Get the right weight for your gold jewellery for the right price after evaluating
                its purity. Our team maintains absolute clarity in the entire process to sell gold. Sell GOLD only to <strong>TRUSTED GOLD BUYER</strong> near you.</p>
            <p><strong class="para1">How to Valuate Your Gold??</strong></p>
            <p class="para">The accurate analysis of gold and other precious metals has become progressively significant because of the value of these precious metals. This is particularly important for processors and resellers of these metals. Gold jewellry and gold
                scrap are usually collected from jewelers, consolidators, pawnshops, medical and dental offices, and even electronic manufacturers. The product is either re-sold to the consumer or processed to recover the precious metals for use as a
                raw material in the manufacture of other products.</p>
            <table>
                <tr>
                    <th>Standard</th>
                    <th>Ni(%)</th>
                    <th>Cu(%)</th>
                    <th>Zn(%)</th>
                    <th>Ag(%)</th>
                    <th>Au(%)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>11.81</td>
                    <td>35.32</td>
                    <td>11.17</td>
                    <td>0</td>
                    <td>41.70</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>14.49</td>
                    <td>30.72</td>
                    <td>11.58</td>
                    <td>0</td>
                    <td>42.06</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>0</td>
                    <td>40.26</td>
                    <td>7.97</td>
                    <td>10.09</td>
                    <td>41.68</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>0</td>
                    <td>39.50</td>
                    <td>5.23</td>
                    <td>13.30</td>
                    <td>41.68</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>9.20</td>
                    <td>23.77</td>
                    <td>4.71</td>
                    <td>7.63</td>
                    <td>58.43</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>0</td>
                    <td>29.23</td>
                    <td>4.71</td>
                    <td>7.63</td>
                    <td>58.39</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>0</td>
                    <td>24.50</td>
                    <td>4.29</td>
                    <td>12.82</td>
                    <td>58.39</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>0</td>
                    <td>30.33</td>
                    <td>6.42</td>
                    <td>4.91</td>
                    <td>58.34</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>0</td>
                    <td>28.20</td>
                    <td>3.65</td>
                    <td>9.51</td>
                    <td>58.43</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>5.76</td>
                    <td>14.08</td>
                    <td>5.05</td>
                    <td>0</td>
                    <td>75.11</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>0</td>
                    <td>12.48</td>
                    <td>0</td>
                    <td>12.48</td>
                    <td>75.04</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>0</td>
                    <td>9.86</td>
                    <td>0</td>
                    <td>15.08</td>
                    <td>75.06</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>0</td>
                    <td>10.66</td>
                    <td>0</td>
                    <td>1.73</td>
                    <td>87.61</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>0</td>
                    <td>4.91</td>
                    <td>0.16</td>
                    <td>3.25</td>
                    <td>91.38</td>
                </tr>
            </table>

            <h2 class="mt-3">Calibration Results</h2>
            <p class="para">Figures 1 through 3 display the regression curves for Ag, Cu, and Au, the key components of gold jewelry and alloys. The plots show a good correlation between the specified elemental concentrations and the calculated concentrations using the
                Fundamental Parameter calibration technique.</p>
            <img src="{{url_for('static', filename='img/cu.jpg') }}" class="img4" alt="cu concentration in gold">
            <img src="{{url_for('static', filename='img/ag.jpg') }}" class="img4" alt="ag concentration in gold">
            <img src="{{url_for('static', filename='img/cg.jpg') }}" class="img4" alt="au concentration in gold">
            <h2 class="mt-3">Repeatability</h2>
            <p class="para">The main goal of a sample evaluation is to verify that the repeatability and sensitivity of the instrument match the application requirements. Ten replicate measurements of a jewelry sample were performed to gauge the reproducibility of the
                technique. Table 3 shows the mean concentration and 1-sigma Standard Deviation of these measurements as well as the certified value of the sample. Measurement times identical to the calibration were applied</p>
            <table>
                <tr>
                    <th>Run</th>
                    <th>Au(%)</th>
                    <th>Ag(%)</th>
                    <th>Cu(%)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>51.74</td>
                    <td>10.55</td>
                    <td>31.69</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>51.81</td>
                    <td>10.54</td>
                    <td>31.65</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>51.77</td>
                    <td>10.51</td>
                    <td>31.69</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>51.76</td>
                    <td>10.54</td>
                    <td>31.65</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>51.66</td>
                    <td>10.54</td>
                    <td>31.66</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>51.68</td>
                    <td>10.53</td>
                    <td>31.74</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>51.72</td>
                    <td>10.55</td>
                    <td>31.66</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>51.73</td>
                    <td>10.59</td>
                    <td>31.60</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>51.72</td>
                    <td>10.57</td>
                    <td>31.60</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>51.73</td>
                    <td>10.59</td>
                    <td>31.63</td>
                </tr>
                <tr>
                    <td><strong>Average</strong></td>
                    <td><strong>51.73</strong></td>
                    <td><strong>10.55</strong></td>
                    <td><strong>31.66</strong></td>
                </tr>
                <tr>
                    <td><strong>Std.Dev.</strong></td>
                    <td><strong>0.04</strong></td>
                    <td><strong>0.03</strong></td>
                    <td><strong>0.04</strong></td>
                </tr>
                <tr>
                    <td><strong>Certified Value</strong></td>
                    <td><strong>51.67</strong></td>
                    <td><strong>10.54</strong></td>
                    <td><strong>31.40</strong></td>
                </tr>
            </table>
            <h2 class="mt-3">Calibration Results</h2>
            <p class="para">Figures 1 through 3 display the regression curves for Ag, Cu, and Au, the key components of gold jewelry and alloys. The plots show a good correlation between the specified elemental concentrations and the calculated concentrations using the
                Fundamental Parameter calibration technique.</p>
            <img src="{{url_for('static', filename='img/ag1.jpg') }}" class="img4" alt="ag concentration in gold">
            <img src="{{url_for('static', filename='img/cu1.jpg') }}" class="img4" alt="cu concentration in gold">
            <img src="{{url_for('static', filename='img/cg1.jpg') }}" class="img4" alt="au concentration in gold">
            <h2 class="mt-3">Repeatability</h2>
            <p class="para">The main goal of a sample evaluation is to verify that the repeatability and sensitivity of the instrument match the application requirements. Ten replicate measurements of a jewelry sample were performed to gauge the reproducibility of the
                technique. Table 3 shows the mean concentration and 1-sigma Standard Deviation of these measurements as well as the certified value of the sample. Measurement times identical to the calibration were applied</p>
            <table>
                <tr>
                    <th>Run</th>
                    <th>Au(%)</th>
                    <th>Ag(%)</th>
                    <th>Cu(%)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>51.74</td>
                    <td>10.55</td>
                    <td>31.69</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>51.81</td>
                    <td>10.54</td>
                    <td>31.65</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>51.77</td>
                    <td>10.51</td>
                    <td>31.69</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>51.76</td>
                    <td>10.54</td>
                    <td>31.65</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>51.66</td>
                    <td>10.54</td>
                    <td>31.66</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>51.68</td>
                    <td>10.53</td>
                    <td>31.74</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>51.72</td>
                    <td>10.55</td>
                    <td>31.66</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>51.73</td>
                    <td>10.59</td>
                    <td>31.60</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>51.72</td>
                    <td>10.57</td>
                    <td>31.60</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>51.73</td>
                    <td>10.59</td>
                    <td>31.63</td>
                </tr>
                <tr>
                    <td><strong>Average</strong></td>
                    <td><strong>51.73</strong></td>
                    <td><strong>10.55</strong></td>
                    <td><strong>31.66</strong></td>
                </tr>
                <tr>
                    <td><strong>Std.Dev.</strong></td>
                    <td><strong>0.04</strong></td>
                    <td><strong>0.03</strong></td>
                    <td><strong>0.04</strong></td>
                </tr>
                <tr>
                    <td><strong>Certified Value</strong></td>
                    <td><strong>51.67</strong></td>
                    <td><strong>10.54</strong></td>
                    <td><strong>31.40</strong></td>
                </tr>
            </table>
            <h3 class="mt-3">Conclusion</h3>
            <p class="para">At <strong>Hindustan Gold Company</strong>, ensures the customer is with the <strong>TOP GOLD BUYER IN BANGALORE</strong>, TELENGANA, ANDRA PRADESH and TAMILNADU</p>
            <p class="para">Customers are the people who come with their dreams or necessities, and we here serve you the best possible in Market. Gold is evaluated in different techniques, but we at HINDUSTAN GOLD COMPANY ensure, you walk-in our nearest branches and
                return satisfactory. We look forward to server our customers with grace</p>
            <p class="para">The results revealed in this research show the excellent performance of the Spectrometer for the measurement of precious metals in gold jewelry with primary beam filters for background control, an efficient SDD, a high-powered X-ray tube,
                and flexible fundamental parameter software. The evaluation is done such that the <strong>MONEY FOR GOLD </strong> is definitely at par with <strong>ONLINE MARKET PRICE</strong></p>
        </div>

    </div>
    <script>
    
        $(document).ready(function(){
            
                $(function () {
                //update Meta Tag in Header
                document.title= 'Hindustan Gold Company|Value For Gold';
                
                document.querySelector("[name='description']").remove();
    
                let metatag = document.createElement('meta');
                metatag.setAttribute('name', 'description');
                metatag.content = 'We can help you Release pledged gold from any banks, financiers, and brokers And Get Cash for your gold immediately.Value for your gold at only Hindustan Gold Company';
                document.getElementsByTagName('head')[0].appendChild(metatag);
                
            });
    
    });
    </script>
    
</div>
{% endblock %}