<!DOCTYPE html>
<html lang="en">

<head>
  <title>Hindustan Gold Company | 404 error page</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <!--- Add meta data -->
  <meta name="twitter:card" content="summary Good image">
  <meta name="twitter:site" content="@hindustangoldc1">
  <meta name="twitter:title" content="Hindustan Gold Company | 8088550033" />
  <meta name="twitter:description"
    content="We release Pledged Gold and Silver Jewellery | We are no 1 Gold Buyers in South India | Sell or Exchange your gold for Instant Cash with Hindustan Gold Company">
  <meta name="twitter:creator" content="@hindustan gold company">
  <meta name="twitter:image:src"
    content="https://res.cloudinary.com/hindutan-gold-company/image/upload/f_auto,q_auto/v1588561171/hgc_logo_gtfcyd.png" />
  <meta name="twitter:domain" content="https://hindustangoldcompany.com/" />

  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>

  <!-- css files -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel='stylesheet' type='text/css' />
  <!-- bootstrap css -->
  <!-- <link href="{{ url_for('static', filename='css/boxicons.min.css') }}" rel='stylesheet' type='text/css' /> -->
  <!-- box icons css -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css' /><!-- custom css -->
  <!-- <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" hr ef="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Roboto:wght@100;300;400;600&display=swap"
    rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Analytics-->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150349996-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-150349996-2');
  </script>
</head>

<body>
    <div class="error-block-wrapper">
        <!-- <h1>
            404
        </h1> -->
        <h3>Page Not Found</h3> 
        <p>The Page you are looking for doesn't exist or an other error occured. Go to <a href="/">Home Page</a></p>
    </div>

</body>

</html>