{% block about_us_1 %}
<!-- <section id="strip-section2">
    <div class="glitter-bg">

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h2 class="section-heading text-center mt-0">Who we are?</h2>
                <div class="about-products ">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="youtube-section">
                                <img class="image_h3" src="{{ url_for('static', filename='img/youtube-screen.webp') }}"
                                    alt="Watch Video" />
                               <span class="btn-play" data-bs-toggle="modal" data-bs-target="#youtubeVideo"></span> cmd
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="para mt-20"><strong>HINDUSTAN GOLD COMPANY</strong> has been serving our valuable customers for more than 20 years.
                                As an ISO 9001:2015 certified company, we are the first company in India to introduce
                                the concept of buying gold at the present online price.</p>

                            <p class="para">Hindustan Gold Company is the trusted company for selling your Gold,
                                ensuring you get the best price. We believe Gold is not only an asset but also has
                                emotions. Our Team is well-trained to provide transparency in the valuation of the Gold
                                you desire to sell. We have advanced Spectrometers & computerized valuation for gold
                                testing both in-house and at your house. We provide Instant Valuation & spot cash for
                                your Gold. We can also do bank transfers.</p>
                            <button type="button" class="btn btn-primary" name="button">Read more</button> cmd
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="mt-heading">
    <div class="glitter-bg">

    </div>
    <div class="container">
        <div class="col-md-10 offset-md-1">
            <h2 class="mobile-screen-heading"> Why Choose Hindustan Gold Company? </h2>
            <h3 class="subheading-home">Transparency</h3>
            <p class="para">We believe in transparent transactions, providing our customers
                with a clear understanding of the valuation process and pricing. Transparency, for us, is not just a
                buzzword; it's the cornerstone of trust, ensuring you know exactly what you're getting.</p>
            <h3 class="subheading-home">Fair Valuation</h3>
            <p class="para">Our experienced appraisers ensure that you receive a fair and
                accurate valuation for your gold, reflecting its true market value. Our commitment to fairness goes
                beyond words – it's about putting the right value on your precious possession, no less and no more.</p>
            <h3 class="subheading-home">Customer-Centric Approach</h3>
            <p class="para">Your satisfaction is our priority. Our customer-centric
                approach is evident in every step of the process, from valuation to payment. We don't just value your
                gold; we value your experience. Your comfort and understanding matter as much as the transaction itself.
            </p>
            <h3 class="subheading-home">Quick and Hassle-Free</h3>
            <p class="para">We understand the urgency sometimes associated with selling
                gold. Our efficient processes for our cash for gold services ensure a quick and hassle-free experience
                for our customers. Because when life moves fast, your transactions with us will keep up – swift, smooth,
                and stress-free.At Hindustan Gold Company, we believe in turning your gold into cash with the same ease
                and speed you deserve, ensuring that your financial needs are met without any unnecessary delays or
                complications.</p>
            <p class="para">Being one of the poignant jewellery buyers in Bangalore, and
                with our ever-growing community of satisfied customers at Hindustan Gold Company, whether you're looking
                to <a href="https://hindustangoldcompany.com/services/sell-gold/"> sell gold</a> for money, release pledged gold, or simply explore our services, we are here for you.
                Contact us today, and let us be a part of your journey with precious metals. Your trust, our commitment
                – Together, we shine! Join us in making every transaction a memorable moment on your personal golden
                journey.</p>
        </div>
    </div>
    </div>
</section>


{% endblock %}