<section>
  <div class="glitter-bg">

  </div>
  <div class="container" >
    <div class="row" >
      <div class="col-md-10 offset-md-1" style="margin-top: -7%;">
        <!-- jewellery buyers near me link changed to gold buyers  -->
        <!-- <h2 class="section-heading text-center mt-0" style="font-size: 48px;">We buy your old gold @ today online price </h2>
          <div class="about-products ">
            <p class="para "> <strong>HINDUSTAN GOLD COMPANY</strong>is proud to be called as best <strong><a href="/blog/gold-buyers-near-me/">JEWELLERY BUYERS</a></strong> Company in INDIA. We are ISO 9001:2015 certified Gold Buyer Company and have stringent and uniform processes across all the branches
                in INDIA. Our service gives every customer the feeling of satisfaction after interaction with our team. Our team members are committed to you and will ensure you get the BEST PRICE for your <strong>GOLD</strong> you want to sell at Hindustan Gold Company, you can sell gold for cash in Bangalore</p>
            <p class="para ">
                We treat our customers with dignity, Which makes us SPECIAL. Our reviews speaks most of our services. We buy GOLD from smaller to larger weights and ensure the payment is made by <strong>CASH ON SPOT</strong>. Customers here feel
                the best place for the emotional connection that our team provides them. We understand GOLD is not just a valuable asset but also your hard-earned asset.
            </p> -->
        <h3 class="our-leacy">ISO 9001:2015 Certification</h3>
        <p class="para">At Hindustan Gold Company, quality is not just a commitment; it's a way of life. Our ISO
          9001:2015 certification is a reflection of our dedication to maintaining the highest standards in every aspect
          of our operations. This certification underscores our focus on quality management, customer satisfaction, and
          continual improvement.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="about-products">
            <h3>Gold</h3>
            <!-- <a href="javascript:void(0)" class="check_price_btn" data-title="Gold" data-bs-toggle="modal" data-bs-target="#exampleModal">Check today's gold price >></a> -->
            <img class="image_h5" src="{{ url_for('static', filename='img/gold.webp') }}" alt="Gold Buyer">
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="about-products">
            <h3>Diamond</h3>
            <!-- <a href="javascript:void(0)" class="check_price_btn" data-title="Diamond" data-bs-toggle="modal" data-bs-target="#exampleModal">Check today's diamond price >></a> -->
            <img class="image_h5" src="{{ url_for('static', filename='img/diamond.webp') }}" alt="Release pledged gold">
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="about-products last-child">
            <h3>Platinum</h3>
            <!-- <a href="javascript:void(0)" class="check_price_btn" data-title="Platinum" data-bs-toggle="modal" data-bs-target="#exampleModal">Check today's platinum price >></a> -->
            <img class="image_h5" src="{{ url_for('static', filename='img/platinum.webp') }}" alt="Release pledge gold">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>