@media (min-width: 981px) {
    .et_pb_gutters3 .et_pb_column,.et_pb_gutters3.et_pb_row .et_pb_column {
        margin-right:5.5%
    }

    .et_pb_gutters3 .et_pb_column_4_4,.et_pb_gutters3.et_pb_row .et_pb_column_4_4 {
        width: 100%
    }

    .et_pb_gutters3 .et_pb_column_4_4 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_4_4 .et_pb_module {
        margin-bottom: 2.75%
    }

    .et_pb_gutters3 .et_pb_column_3_4,.et_pb_gutters3.et_pb_row .et_pb_column_3_4 {
        width: 73.625%
    }

    .et_pb_gutters3 .et_pb_column_3_4 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_3_4 .et_pb_module {
        margin-bottom: 3.735%
    }

    .et_pb_gutters3 .et_pb_column_2_3,.et_pb_gutters3.et_pb_row .et_pb_column_2_3 {
        width: 64.833%
    }

    .et_pb_gutters3 .et_pb_column_2_3 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_2_3 .et_pb_module {
        margin-bottom: 4.242%
    }

    .et_pb_gutters3 .et_pb_column_3_5,.et_pb_gutters3.et_pb_row .et_pb_column_3_5 {
        width: 57.8%
    }

    .et_pb_gutters3 .et_pb_column_3_5 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_3_5 .et_pb_module {
        margin-bottom: 4.758%
    }

    .et_pb_gutters3 .et_pb_column_1_2,.et_pb_gutters3.et_pb_row .et_pb_column_1_2 {
        width: 47.25%
    }

    .et_pb_gutters3 .et_pb_column_1_2 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_module {
        margin-bottom: 5.82%
    }

    .et_pb_gutters3 .et_pb_column_2_5,.et_pb_gutters3.et_pb_row .et_pb_column_2_5 {
        width: 36.7%
    }

    .et_pb_gutters3 .et_pb_column_2_5 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_2_5 .et_pb_module {
        margin-bottom: 7.493%
    }

    .et_pb_gutters3 .et_pb_column_1_3,.et_pb_gutters3.et_pb_row .et_pb_column_1_3 {
        width: 29.6667%
    }

    .et_pb_gutters3 .et_pb_column_1_3 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_1_3 .et_pb_module {
        margin-bottom: 9.27%
    }

    .et_pb_gutters3 .et_pb_column_1_4,.et_pb_gutters3.et_pb_row .et_pb_column_1_4 {
        width: 20.875%
    }

    .et_pb_gutters3 .et_pb_column_1_4 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_1_4 .et_pb_module {
        margin-bottom: 13.174%
    }

    .et_pb_gutters3 .et_pb_column_1_5,.et_pb_gutters3.et_pb_row .et_pb_column_1_5 {
        width: 15.6%
    }

    .et_pb_gutters3 .et_pb_column_1_5 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_1_5 .et_pb_module {
        margin-bottom: 17.628%
    }

    .et_pb_gutters3 .et_pb_column_1_6,.et_pb_gutters3.et_pb_row .et_pb_column_1_6 {
        width: 12.0833%
    }

    .et_pb_gutters3 .et_pb_column_1_6 .et_pb_module,.et_pb_gutters3.et_pb_row .et_pb_column_1_6 .et_pb_module {
        margin-bottom: 22.759%
    }

    .et_pb_gutters3 .et_full_width_page.woocommerce-page ul.products li.product {
        width: 20.875%;
        margin-right: 5.5%;
        margin-bottom: 5.5%
    }

    .et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products li.product,.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products li.product {
        width: 28.353%;
        margin-right: 7.47%
    }

    .et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products.columns-1 li.product,.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products.columns-1 li.product {
        width: 100%;
        margin-right: 0
    }

    .et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products.columns-2 li.product,.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products.columns-2 li.product {
        width: 48%;
        margin-right: 4%
    }

    .et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products.columns-2 li:nth-child(2n+2),.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products.columns-2 li:nth-child(2n+2) {
        margin-right: 0
    }

    .et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products.columns-2 li:nth-child(3n+1),.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products.columns-2 li:nth-child(3n+1) {
        clear: none
    }
}
.et_builder_inner_content {
    position: relative;
    z-index: 1
}

header .et_builder_inner_content {
    z-index: 2
}

.dsm-popup.dsm-popup-background-transparent .et_pb_section {
    background-color: initial !important;
}
.dsm-popup-wrap.dsm-popup-fullwidth-on .et_pb_section, .et-db #et-boc .dsm-popup-wrap.dsm-popup-fullwidth-on .et-l .et_pb_section {
    width: initial;
    max-width: initial;
}

.dsm-popup-wrap.dsm-popup-fullwidth-off .et_pb_section, .et-db #et-boc .dsm-popup-wrap.dsm-popup-fullwidth-off .et-l .et_pb_section {
    width: 100%;
    max-width: 100%;
}
.et_pb_portfolio.et_pb_section_parallax .wp-pagenavi,.et_pb_portfolio.et_pb_section_video .wp-pagenavi,.et_pb_portfolio_grid.et_pb_section_parallax .wp-pagenavi,.et_pb_portfolio_grid.et_pb_section_video .wp-pagenavi {
    position: relative
}
.iphone .et_pb_section_video_bg video::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none
}

.et_mobile_device .et_pb_section_parallax .et_pb_parallax_css {
    background-attachment: scroll
}
.et_parallax_bg.et_parallax_bg__hover,.et_parallax_bg.et_parallax_bg_phone,.et_parallax_bg.et_parallax_bg_tablet,.et_parallax_gradient.et_parallax_gradient__hover,.et_parallax_gradient.et_parallax_gradient_phone,.et_parallax_gradient.et_parallax_gradient_tablet,.et_pb_section_parallax_hover:hover .et_parallax_bg:not(.et_parallax_bg__hover),.et_pb_section_parallax_hover:hover .et_parallax_gradient:not(.et_parallax_gradient__hover) {
    display: none
}

.et_pb_section_parallax_hover:hover .et_parallax_bg.et_parallax_bg__hover,.et_pb_section_parallax_hover:hover .et_parallax_gradient.et_parallax_gradient__hover {
    display: block
}
.et_pb_module.et_pb_section_parallax,.et_pb_posts_nav a.et_pb_section_parallax,.et_pb_tab.et_pb_section_parallax {
    position: relative
}

.et_pb_section_parallax .et_pb_parallax_css,.et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    background-attachment: fixed
}

body.et-bfb .et_pb_section_parallax .et_pb_parallax_css,body.et-bfb .et_pb_slides .et_parallax_bg.et_pb_parallax_css {
    background-attachment: scroll;
    bottom: auto
}

.et_pb_section_parallax.et_pb_column .et_pb_module,.et_pb_section_parallax.et_pb_row .et_pb_column,.et_pb_section_parallax.et_pb_row .et_pb_module {
    z-index: 9;
    position: relative
}
.et_pb_preload .et_pb_section_video_bg,.et_pb_preload>div {
    visibility: hidden
}

.et_pb_preload,.et_pb_section.et_pb_section_video.et_pb_preload {
    position: relative;
    background: #464646!important
}
.et_pb_section>.box-shadow-overlay~.et_pb_row {
    z-index: 11
}

@media (min-width: 981px) {
    .et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_column .et_pb_module.et-last-child,.et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_column .et_pb_module:last-child,.et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module.et-last-child,.et_pb_section.et_section_specialty div.et_pb_row .et_pb_column .et_pb_row_inner .et_pb_column .et_pb_module:last-child,.et_pb_section div.et_pb_row .et_pb_column .et_pb_module.et-last-child,.et_pb_section div.et_pb_row .et_pb_column .et_pb_module:last-child {
        margin-bottom:0
    }
}
.et_pb_section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: 100%;
    background-size: cover
}

.et_pb_section--absolute,.et_pb_section--fixed {
    width: 100%
}

.et_pb_section.et_section_transparent {
    background-color: transparent
}
.et_pb_section_video:not(.et_pb_section--with-menu) {
    overflow: hidden;
    position: relative
}
.et_pb_column>.et_pb_section_video_bg {
    z-index: -1
}
.et_pb_section_video_bg {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    pointer-events: none;
    -webkit-transition: display .3s;
    transition: display .3s
}
.et_pb_section_video_bg.et_pb_section_video_bg_hover,.et_pb_section_video_bg.et_pb_section_video_bg_phone,.et_pb_section_video_bg.et_pb_section_video_bg_tablet,.et_pb_section_video_bg.et_pb_section_video_bg_tablet_only {
    display: none
}

.et_pb_section_video_bg .mejs-controls,.et_pb_section_video_bg .mejs-overlay-play {
    display: none!important
}

.et_pb_section_video_bg embed,.et_pb_section_video_bg iframe,.et_pb_section_video_bg object,.et_pb_section_video_bg video {
    max-width: none
}

.et_pb_section_video_bg .mejs-video {
    left: 50%;
    position: absolute;
    max-width: none
}

.et_pb_section_video_bg .mejs-overlay-loading {
    display: none!important
}

.et_pb_social_network_link .et_pb_section_video {
    overflow: visible
}

.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg {
    display: none
}

.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg_hover,.et_pb_section_video_on_hover:hover>.et_pb_section_video_bg_hover_inherit {
    display: block
}

@media (min-width: 981px) {
    .et_pb_section {
        padding:4% 0
    }
	
    body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_section,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_section {
        padding-top: 0
    }

    .et_pb_fullwidth_section {
        padding: 0
    }

    .et_pb_section_video_bg.et_pb_section_video_bg_desktop_only {
        display: block
    }
}
@media (max-width: 980px) {
    .et_pb_section {
        padding:50px 0
    }

    body.et_pb_pagebuilder_layout.et_pb_show_title .post-password-required .et_pb_section,body:not(.et_pb_pagebuilder_layout) .post-password-required .et_pb_section {
        padding-top: 0
    }

    .et_pb_fullwidth_section {
        padding: 0
    }

    .et_pb_section_video_bg.et_pb_section_video_bg_tablet {
        display: block
    }

    .et_pb_section_video_bg.et_pb_section_video_bg_desktop_only {
        display: none
    }
}

@media (min-width: 768px) {
    .et_pb_section_video_bg.et_pb_section_video_bg_desktop_tablet {
        display:block
    }
}
@media (min-width: 768px) and (max-width:980px) {
    .et_pb_section_video_bg.et_pb_section_video_bg_tablet_only {
        display:block
    }
}
@media (max-width: 767px) {
    .et_pb_section_video_bg.et_pb_section_video_bg_phone {
        display:block
    }

    .et_pb_section_video_bg.et_pb_section_video_bg_desktop_tablet {
        display: none
    }
}
.et_pb_column.et_pb_section_parallax {
    position: relative
}
@media (min-width: 981px) {
	.et_pb_row.et_pb_equal_columns,.et_pb_row_inner.et_pb_equal_columns,.et_pb_section.et_pb_equal_columns>.et_pb_row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .rtl .et_pb_row.et_pb_equal_columns,.rtl .et_pb_row_inner.et_pb_equal_columns,.rtl .et_pb_section.et_pb_equal_columns>.et_pb_row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .et_pb_row.et_pb_equal_columns>.et_pb_column,.et_pb_section.et_pb_equal_columns>.et_pb_row>.et_pb_column {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
}
.et_pb_contact_field *,.et_pb_contact_field.et_pb_section_parallax,.et_pb_contact_field.et_pb_section_video {
    position: relative
}
.et_pb_portfolio.et_pb_section_parallax .pagination,.et_pb_portfolio.et_pb_section_video .pagination,.et_pb_portfolio_grid.et_pb_section_parallax .pagination,.et_pb_portfolio_grid.et_pb_section_video .pagination {
    position: relative
}
.et_parallax_bg.et_parallax_bg__sticky,.et_pb_sticky.et_pb_section_parallax_sticky .et_parallax_bg:not(.et_parallax_bg__sticky),.et_pb_sticky .et_pb_section_parallax_sticky .et_parallax_bg:not(.et_parallax_bg__sticky) {
    display: none
}
.et_pb_sticky.et_pb_section_parallax_sticky .et_parallax_bg.et_parallax_bg__sticky,.et_pb_sticky .et_pb_section_parallax_sticky .et_parallax_bg.et_parallax_bg__sticky {
    display: block
}
@media (max-width: 767px) {
	.et_transparent_nav .et_pb_section:first-child .et-pb-controllers {
        bottom: 18px
    }
}
.et_pb_counters.et_pb_section_video>li,.et_pb_counters>li.et_pb_section_video .et_pb_counter_amount {
    position: relative
}
.et_pb_filterable_portfolio.et_pb_section_parallax .et_pb_portfolio_filters,.et_pb_filterable_portfolio.et_pb_section_video .et_pb_portfolio_filters {
    position: relative
}
.et_pb_filterable_portfolio.et_pb_section_parallax .et_pb_portofolio_pagination,.et_pb_filterable_portfolio.et_pb_section_video .et_pb_portofolio_pagination {
    position: relative
}
.et_pb_gallery .et_pb_gallery_items,.et_pb_gallery.et_pb_section_parallax {
    width: 100%
}

.et_pb_gallery.et_pb_section_parallax:hover {
    overflow: hidden
}
@media (min-width: 981px) {
    .et_pb_section_sticky,.et_pb_section_sticky.et_pb_bottom_divider .et_pb_row:nth-last-child(2),.et_pb_section_sticky .et_pb_column_single,.et_pb_section_sticky .et_pb_row.et-last-child,.et_pb_section_sticky .et_pb_row:last-child,.et_pb_section_sticky .et_pb_specialty_column .et_pb_row_inner.et-last-child,.et_pb_section_sticky .et_pb_specialty_column .et_pb_row_inner:last-child {
        padding-bottom:0!important
    }
}
@media (max-width: 980px) {
	.et_pb_section_sticky_mobile,.et_pb_section_sticky_mobile.et_pb_bottom_divider .et_pb_row:nth-last-child(2),.et_pb_section_sticky_mobile .et_pb_column_single,.et_pb_section_sticky_mobile .et_pb_row.et-last-child,.et_pb_section_sticky_mobile .et_pb_row:last-child,.et_pb_section_sticky_mobile .et_pb_specialty_column .et_pb_row_inner.et-last-child,.et_pb_section_sticky_mobile .et_pb_specialty_column .et_pb_row_inner:last-child {
        padding-bottom: 0!important
    }
	 .et_pb_section_sticky .et_pb_row.et-last-child .et_pb_column.et_pb_row_sticky.et-last-child,.et_pb_section_sticky .et_pb_row:last-child .et_pb_column.et_pb_row_sticky:last-child {
        margin-bottom: 0
    }
}
.et_pb_portfolio .et_pb_portfolio_item,.et_pb_portfolio.et_pb_section_parallax .pagination,.et_pb_portfolio.et_pb_section_parallax .wp-pagenavi,.et_pb_portfolio.et_pb_section_video .pagination,.et_pb_portfolio.et_pb_section_video .wp-pagenavi,.et_pb_portfolio_grid.et_pb_section_parallax .pagination,.et_pb_portfolio_grid.et_pb_section_parallax .wp-pagenavi,.et_pb_portfolio_grid.et_pb_section_video .pagination,.et_pb_portfolio_grid.et_pb_section_video .wp-pagenavi {
    position: relative
}
.et_pb_section:not(.et_pb_fullwidth_section) .et_pb_post_slider .et_pb_no_results .entry {
    height: auto;
    padding: 16% 8%
}
.et_pb_post_slider.et_pb_module .et_pb_section {
    background-color: transparent
}
@media (max-width: 980px) {
	.et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_image,.et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_video {
        margin-bottom:5%!important
    }
}

@media (max-width: 767px) {
    .et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_image,.et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_video {
        margin-bottom:10%!important
    }
}
@media (max-width: 479px) {
    .et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_image,.et_pb_section .et_pb_column .et_pb_post_slider_image_bottom .et_pb_slide_video {
        margin-bottom:16%!important
    }
}
@media (max-width: 767px) {
	.et_pb_section_first .et_pb_slide_image img {
        max-height: 300px!important
    }
	.et_pb_section_first .et_pb_slide_image {
        margin: 0!important;
        top: 20px
    }
}