{% extends "home.html" %}
{% block main %}

<a href="https://wa.me/+919741637635" class="" target="_blank">
  <div class="float">
      <i class="fab fa-whatsapp my-float" target="_blank" rel="noopener noreferrer"></i>
  </div>
  <h1 class="text-center float1">
      Need Help?
  </h1>
</a>

<section id="Home9">

  
  <div class="overlay">

  </div>

  
  <div class="container" style="position:relative;z-index: 1;">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h1 class="heading">About Us</h1>
      </div>
    </div>
  </div>
</section>

<section id="about-us" class="rel about-us">
  <div class="container">
    <div class="row mt-20">

      <p class="para">Hindustan Gold Company is a respected gold buying business entity buying small to large
        quantities of gold paying the best prices in throughout India and Abroad. With so many people seeking quick
        cash, the gold market is rife with opportunists and dodgy deals. You deserve transparency and honesty as
        selling gold can be an emotional commitment, so it’s only fair that people get the best treatment possible. We
        are a licensed gold buying business and not pawnbrokers or jewellers, we have extensive experience in the
        field of gold buying. Be assured when you sell gold to us you are safe and secure dealing directly with the
        business owners in store at our security rated premises.
      </p>
      <div class="col-md-12">
        <div>
          <div class="row">

            <div class="col-md-6">
              <img src="{{ url_for('static', filename='img/gold-mining.jpg') }}" alt="Release pledged gold in bangalore">
            </div>
            <div class="col-md-6">
              <h2>Gold Mining</h2>
              <p class="para mt-20">Gold ore is the principal raw material for the steel industry. India is the fourth
                largest producer of iron ore with a huge reserve of iron ore exceeding 20 billion tons. Tanzaniya is
                the third largest Gold ore supplier to Global Market .Export of Gold ore from Gold constitutes one of the top
                10 items of export.
              </p>
              <p class="para mt-20">We are currently near the ports of Tanzania. GOLD MINING is the heritage of India and <a href="/" alt="Release pledged gold in bangalore">Hindustan Gold Company</a> understands the essence of <b>GOLD MINING</b></p>

              
            </div>
          </div>

        </div>

      </div>
      <p class="para mt-20">CMM’s professional approach, guided by a dynamic management, its attention to
        quality and detail has helped the company and the division to gain a set of repeat customers
        purchasing Gold ore directly from Tanzania. We take pride to make you evaluate your gold and help you get the right price for your valuables. Check how to <a href="{{url_for('services.selected_service', service_name='value-for-gold' )}}">Value your gold.</a></p>

      <p class="para mt-20">We compete with both domestic Tanzania producers of Gold ore for International customers
        and with Gold Ore exporters for exports. We believe that we are able to compete effectively with international
        players, and by providing a better grade of Gold ore than is provided by many of our other competitors.</p>

      <p class="para mt-20">We have 900 acres of Gold ORE.. With Situated in dense forest with Heavy Deposit of Gold
        grade 40+.</p>

      <a href="/contact/" class="btn btn-default check_price_btn">Know more : Contact Us</a>
    </div>
  </div>
</section>

<section id="need-franchise">
  <div class="overlay">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <h2 class="section-heading">Need Franchise of <small>HINDUSTAN GOLD COMPANY</small></h2>
            <ul class="list-items">
              <li>Benefits
                <ul>
                <li>A brand that is trusted</li>
                <li>Ease to Earn</li>
                <li>Complete Infrastructure Guidance</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<div class="container" style="margin-bottom: 65px;">
  <h4 class="text-center" style="margin-top: 25px; font-size: 40px;">Frequently Asked Questions</h4>
  <div class="accordion">
      <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
              <span class="accordion-title">Which are the best gold buyers in Bangalore?</span>
              <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
              <p>
                Hindustan Gold Company is one of the best among the gold buying companies in 
                Bangalore. They provide hassle-free gold selling process and ensure customers 
                get the exact current gold rates value. They provide instant cash for gold.
              </p>
          </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">How does Hindustan Gold Company determine the value of my gold? </span>
            <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
            <p>
              At Hindustan Gold Company, we use state-of-the-art testing equipment and 
              follow the current market rates to accurately assess the value of your gold. Our 
              expert evaluators ensure a fair and transparent valuation process.
            </p>
        </div>
    </div>
      <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
              <span class="accordion-title">Do I need an appointment to sell my gold at Hindustan Gold Company? </span>
              <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
              <p>
                While appointments are not mandatory, we recommend scheduling one to ensure a 
                smooth and efficient experience. Walk-ins are also welcome at Hindustan Gold 
                Company, where our team is always ready to assist you.
              </p>
          </div>
      </div>
      <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false">
              <span class="accordion-title">How quickly will I receive cash for my gold at Hindustan Gold Company?</span>
              <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
              <p>
                Hindustan Gold Company provides instant cash payments once the gold has been evaluated 
                and agreed upon. The entire process is designed to be quick, allowing you to 
                walk out with cash in hand without any delays.
              </p>
          </div>
      </div>
      <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
              <span class="accordion-title">Is it safe to sell my gold to Hindustan Gold Company?</span>
              <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
              <p>
                Absolutely. Hindustan Gold Company is a trusted and reputable gold buying company
                 in Bangalore. We prioritize customer security and confidentiality, ensuring a safe 
                 and secure transaction environment.
              </p>
          </div>
      </div>
      <div class="accordion-item">
          <button id="accordion-button-6" aria-expanded="false">
              <span class="accordion-title">What documents do I need to bring when selling gold to Hindustan Gold Company?</span>
              <span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
              <p>
                To sell your gold to Hindustan Gold Company, you need to bring a valid government-issued 
                ID (such as an Aadhaar card, passport, or driver’s license) and any purchase receipts
                 or certificates, if available, for a smooth transaction.
              </p>
          </div>
      </div>
      <div class="accordion-item">
        <button id="accordion-button-7" aria-expanded="false">
            <span class="accordion-title">Does Hindustan Gold Company offer home pick-up services for selling gold?</span>
            <span class="icon" aria-hidden="true"></span>
        </button>
        <div class="accordion-content">
            <p>
              Yes, Hindustan Gold Company offers home pick-up services for your convenience. 
              Our professionals will come to your location, evaluate your gold on-site, 
              and provide instant cash payments, making the process hassle-free.
            </p>
        </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-8" aria-expanded="false">
          <span class="accordion-title">Can I get a price estimate for my gold online from Hindustan Gold Company?</span>
          <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
          <p>
            Yes, Hindustan Gold Company provides an online price estimate service. You can 
            visit our website, input the details of your gold items, and receive an approximate 
            valuation. For an accurate assessment, we recommend visiting our office.

          </p>
      </div>
  </div>
  </div>
</div>




<script>

  const items = document.querySelectorAll('.accordion button');

  function toggleAccordion() {
      const itemToggle = this.getAttribute('aria-expanded');

      for (i = 0; i < items.length; i++) {
          items[i].setAttribute('aria-expanded', 'false');
      }

      if (itemToggle == 'false') {
          this.setAttribute('aria-expanded', 'true');
      }
  }

  items.forEach((item) => item.addEventListener('click', toggleAccordion));




</script>


{% endblock %}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>