{% extends "home.html" %}
{% block main %}

<!-- <section id="Home9" class="contactUs desk">
  <div class="overlay">

  </div>
  <div class="container" style="position:relative;z-index: 1;">
    <div class="row ">
      <div class="col-md-6 col-lg-6">
        <h1 class="heading">Contact Us</h1>
      </div>
    </div>
  </div>
</section> -->

<section id="Home9" class="hiring">
  <div class="overlay">

  </div>
  <div class="container" style="position:relative;z-index: 1;">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h2 class="heading">Hiring</h2>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="rel contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-us">
          <h3 class="section-heading">We Are Hiring!</h3>
          <p class="para">Please submit your resume here we will get back to you once our team goes through your resume.</p>
          <b>Note! Resume should be .pdf format</b>
		  <br></br>
		  <a href="/" class="btn btn-default check_price_btn">Back to Home</a>
        </div>
      </div>
      <div class="col-md-6">
        <form class="" action="{{ url_for('branches_pages.appy_careers', position=position) }}" enctype="multipart/form-data" method="post" accept-charset="utf-8" id="contact_form">
          <span class="label">* Your Full Name:</span>
          <div class="form-group input-wrp">
            <input class="form-control" placeholder="Full name" name="name" type="text" required>
            <span class="text-danger"></span>
          </div>
          <div class="row">

            <div class="col-lg-6">
              <span class="label">* Your Email Address:</span>
              <div class="form-group input-wrp">
                <input class="form-control" placeholder="Email address" name="email" type="text" inputmode="email"
                  x-inputmode="email" required>
                <span style="color:red;"></span>
              </div>
            </div>
            <div class="col-lg-6">
              <span class="label">* Your Phone Number:</span>
              <div class="form-group input-wrp">
                <input class="form-control" placeholder="Phone" name="phone" type="text" inputmode="tel"
                  x-inputmode="tel" required>
                <span class="text-danger"></span>
              </div>
            </div>

          </div>

          <span class="label">* Upload Resume:</span>
          <div class="form-group input-wrp">
            <input class="form-control" name="resume" type="file"  required>
            <span class="text-danger"></span>
          </div>
          <span class="label">* Tell Us Something About:</span>
          <div class="form-group input-wrp">
            <textarea class="form-control" rows="5" placeholder="" name="cover_letter" required></textarea>
            <span class="text-danger"></span>
          </div>
          <div class="form-group input-wrp">
            <button type="submit" class="btn btn-success" type="submit">Submit</button>
            <div class="form__note"></div>


          </div>
        </form>
      </div>
    </div>
  </div>
</section>


  <section id="value-asset" style="
    padding-bottom: 0px;
    margin-bottom: 0px;
">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                  <h1 class="section-heading">We are hiring
                    <br>
                </h1>
                <ul class="list-items">
                    <li>Hindustan Gold Company provides us with the most excellent working environment for individuals who all set on a promising career path with us. <a href="/">Hindustan Gold Company</a> has emerged as one of the most sought-after employers in India in a <a href="/blog/gold-biscuit/">Gold Trade Business</a>.We are Hiring, with a present-day and friendly work culture helped by the most recent innovation. Our Company offers you a good opportunity for us to grow if you are keen to learn things and take the initiative for growth. You have a tremendous amount of opportunities to learn.
                      Work culture, customer collaboration, responding to change individually and interactions. Very good in work-life balance. It is a great platform to grooms-up your skills. Good workspace culture. It is a stage to learn and develop your professional level. Good opportunity for freshers. Best in job security and work-life balance. Opportunities to upskill your career growth and learn. Looking to create a truly-hybrid and future-ready workspace. A healthy workplace tends to exhibit a common set of trait that foster excellence and productivity. Delight in the gig invests flawlessly in the effort. However long you are being positive you are being useful. To win in the commercial center you should initially win in the working environment. Here is our motto of workplace wellness and a positive work environment.</li>
                      
                      <li>1. Positive Values</li>
                     <li> 2. Relaxed and Productive Atmosphere</li>
                     <li> 3. Commitment to Excellence</li>
                     <li> 4. Open and Honest Communication </li>
                     <li>5. Co-operation Support and Empowerment</li>
                     <li>6. Sense of Humor</li>
                     <li>7. Compassion, Respect, and Understanding</li>
                     <li>8. Flexibility</li>
                     <li>9. Positive Reinforcement</li>
                     <li>10. Emphasis on Health, Family, and Environment</li>
                     <li>11. Opportunity</li>
                     <li>12. Communication</li>
                     <li>13. Team Work</li>
                     <li>14. Respect</li>
                     <li>15. Training</li>
                     <li>16. Empower Team Members</li>
                     <li>17. Fair Employee Policy</li>
                     <li>18. Team Building Activities</li>
                     <li>19. Recognize & Reward</li>
                     <li>20. Promote Work-Life Balance</li>
                     <li>21. Assign Individual Mentors</li>
                     <li>22. Co-operation</li>
                     <li>23. Build Trust</li>
                     <li>24. Create Team Spirit</li>
                     <li>25. Be Approachable</li>
                     <li>26. Relaxed but professional atmosphere</li>
                     <li>27. Empowering, autonomous & supportive.</li>
                     <li>28. Empathetic leaders and colleagues</li>
                     <li>29. Encourages collaboration</li>
                     <li>30. Offers clear paths toward the growth</li>
                     
                      
      
         
                    </li>
                </ul>
                

                </div>
            </div>

        </div>
    </div>
</section>


<section id="need-franchise">
  <div class="overlay">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <h2 class="section-heading">Need Franchise of <small>HINDUSTAN GOLD COMPANY</small></h2>
            <ul class="list-items">
              <li>Benefits
                <ul>
                <li>A brand that is trusted</li>
                <li>Ease to Earn</li>
                <li>Complete Infrastructure Guidance</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}