{% extends "home.html" %} {% block main %}

<body>
    <section id="Home9" class="blog">
        <div class="overlay">

        </div>

        <a href="https://wa.me/+919741637635" class="" target="_blank">
            <div class="float">
                <i class="fab fa-whatsapp my-float" target="_blank" rel="noopener noreferrer"></i>
            </div>
            <h1 class="text-center float1">
                Need Help?
            </h1>
          </a>
          
        <div class="container" style="position:relative;z-index: 1;">
            <div class="row mt-banner">
                <div class="col-md-6 col-lg-6">
                    <h1 class="heading">Blog</h1>
                </div>
            </div>
        </div>
    </section>



    <section id="blog">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <div class="container d-flex justify-content-center mt-5 mb-5">
            <div class="d-flex flex-column">

                <div class="card p-2 mb-2" >
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1" >
                                    <div class="meta-date text-center p-1">
                                        <span style="color:white; size: 14px;">03 Mar </span>
                                        <span style="color:white; size: 20px;"><b>2023</b></span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h2 class="h2">Gold Earnings with Price</h2>
                                </div>
                            </div>
                            <p class="para2">Gold is the most valuable asset, and the fluctuation of the gold price is more with the time. Gold has always been increasing in value for the past century. Every Household in India has invested their money in buying and saving the gold. 
                            </p>
                            <a href="{{url_for( 'blogs.selected_blog', blog_name='gold-earnings-with-price')}}"
                                class="readmore"><span>Read More </span></a>
                        </div>
                    </div>
                </div>
                
                <div class="card p-2 mb-2">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1" >
                                    <div class="meta-date text-center p-1">
                                        <span style="color:white; size: 14px;">28 Feb </span>
                                        <span style="color:white; size: 20px;"><b>2023</b></span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h2 class="h2">Gold Biscuit</h2>
                                </div>
                            </div>
                            <p class="para2">A Gold Biscuit is a bullion or ingot of solid gold of a specific weight, usually in the form of a small, flat rectangular bar. They are traded as a form of investment, often as a store of wealth, and can be bought and sold like other precious metal products. 
                            </p>
                            <a href="{{url_for( 'blogs.selected_blog', blog_name='gold-biscuit')}}"
                                class="readmore"><span>Read More </span></a>
                        </div>
                    </div>
                </div>
                <div class="card p-2 mb-2">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1" >
                                    <div class="meta-date text-center p-1">
                                        <span style="color:white; size: 14px;">23 Feb </span>
                                        <span style="color:white; size: 20px;"><b>2023</b></span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h2 class="h2">Value of Gold</h2>
                                </div>
                            </div>
                            <p class="para2">The value of gold can fluctuate depending on a variety of factors such as supply and demand, interest rates, and global economic conditions. It is often used as a hedge against inflation and currency fluctuations and is considered a safe-haven asset. The current <a href="/blog/spot-cash-gold-near-me/">spot price of gold</a> can be found in our Hindustan Gold Company Website. 
                            </p>
                            <a href="{{url_for( 'blogs.selected_blog', blog_name='value-of-gold')}}"
                                class="readmore"><span>Read More </span></a>
                        </div>
                    </div>
                </div>
              
                <div class="card p-2 mb-2">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1" >
                                    <div class="meta-date text-center p-1">
                                        <span style="color:white; size: 14px;">22 Feb </span>
                                        <span style="color:white; size: 20px;"><b>2023</b></span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h2 class="h2">Gold Online Rate</h2>
                                </div>
                            </div>
                            <p class="para2">Gold Online Rate is determined by the number of factors like demand and supply. 
                                If the demand of the gold is higher than the supply of the gold, then the Price of the Gold would go high. 
                                Check the Gold Online Rate in <a href="/">Hindustan Gold Company</a> Website. 
                            </p>
                            <a href="{{url_for( 'blogs.selected_blog', blog_name='gold-online-rate')}}"
                                class="readmore"><span>Read More </span></a>
                        </div>
                    </div>
                </div>
                <div class="card p-2 mb-2">
                    <div class="card h-100 border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1" >
                                    <div class="meta-date text-center p-1">
                                        <span style="color:white; size: 14px;">09 Feb </span>
                                        <span style="color:white; size: 20px;"><b>2023</b></span>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <h2 class="h2">I want to sell Gold</h2>
                                </div>
                            </div>
                            <p class="para2">I went to Sell Gold at the Current Market Price only at Hindustan Gold
                                Company. We, at HGC follow a clear and transparent process in buying the gold you are
                                selling to us. You can <a href="/">sell your Old Gold</a> or Used Gold or Diamonds with HGC.
                            </p>
                            <a href="{{url_for( 'blogs.selected_blog', blog_name='i-went-to-sell-gold')}}"
                                class="readmore"><span>Read More </span></a>
                        </div>
                    </div>
                </div>
                
                
              
            </div>
        </div>



    </section>




</body>


{% endblock %}