<!DOCTYPE html>
<html lang="en">
  <head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJWZWGBR');</script>
<!-- End Google Tag Manager -->


    <title>{{meta_data.title}}</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{{meta_data.keywords}}" />
    <meta name="description" content="{{meta_data.description}}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- old code -->
    <!-- <link rel="canonical" href="{{ cur_url }}" /> -->

    <!-- new code -->
    <link rel="canonical" href="https://hindustangoldcompany.com/" />

    <link
      rel="alternate"
      hreflang="en-IN"
      href="https://hindustangoldcompany.com/"
    />

    <!--- Add meta data -->
    <!-- <meta name="twitter:card" content="summary Good image">
    <meta name="twitter:site" content="@hindustangoldc1">
    <meta name="twitter:title" content="Hindustan Gold Company | 8088550033" />
    <meta name="twitter:description" content="We release Pledged Gold and Silver Jewellery | We are no 1 Gold Buyers in South India | Sell or Exchange your gold for Instant Cash with Hindustan Gold Company">
    <meta name="twitter:creator" content="@hindustan gold company">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/hindutan-gold-company/image/upload/f_auto,q_auto/v1588561171/hgc_logo_gtfcyd.png" />
    <meta name="twitter:domain" content="https://hindustangoldcompany.com/" />
    <link rel="canonical" href="{{ cur_url }}"> -->

    <script type="application/ld+json">
      {
      @context: "https://schema.org/",
      @type: "WebSite",
      name: "Hindustan Gold Company",
      url: "https://hindustangoldcompany.com/",
      potentialAction: {
      @type: "SearchAction",
      target: "{search_term_string}",
      query-input: "required name=search_term_string"
      }
      }
    </script>

    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-150349996-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-150349996-1");
    </script>

    <!-- favicon-->
    <!-- <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}"> -->
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/gold-buyers.png') }}"
    />

    <!--end of favicon-->
    <!-- <link href="{{ url_for('static', filename='css/all.min.css') }}" rel='stylesheet' type='text/css' /> -->
    <!-- css files -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- bootstrap css -->

    <!-- <link href="{{ url_for('static', filename='css/boxicons.min.css') }}" rel='stylesheet' type='text/css' /> -->
    <!-- box icons css -->
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{{ url_for('static', filename='css/diagram.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- custom css -->
    <!-- <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Roboto:wght@100;300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- sheet -->
    <!-- <link rel='stylesheet' id='font-awesome-css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=6.4.1' type='text/css' media='all' /> -->
    <!-- <link rel="stylesheet" type="text/css" href="//hemajewellers.in/wp-content/cache/wpfc-minified/jxnjkrjp/45169.css" media="all"/> -->
    <link
      rel="stylesheet"
      id="et-builder-googlefonts-cached-css"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&#038;subset=latin,latin-ext&#038;display=swap"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?display=swap&amp;family=Roboto%3A300%2C400"
      media="all"
    />
  </head>
  <body>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% include 'common/header.html' %} {% block main %} {% endblock %} {%
    include 'common/footer.html'%}
    <script type="text/javascript">
      $(document).ready(function () {
        $(".check_price_btn").click(function () {
          var type = $(this).attr("data-title");
          $(".check_price").attr("data-title", type);
          $(".modal-title").text("Today's " + type + " Price");
        });
        $(".check_price").click(function () {
          var type = $(this).attr("data-title");
          $(this).text("... Loading");
          $.get("demo_test.asp", function (data, status) {
            $(this).text("Check price");
            $(".price-details").show();
            $(".price-details").text("Rs. " + data.price + " / Grams");
          });
        });

        //use .one to ensure this only happens once

        $(".btn-play").on("click", function (ev) {
          $("iframe")[0].src += "&autoplay=1";
          ev.preventDefault();
        });
        $(".modal-close").click(function () {
          $("iframe").attr("src", $("iframe").attr("data-frame"));
        });
        $(".close-icon").click(function () {
          $("#Request_callback").removeClass("show");
        });

        // $(document).ready(function() {
        $(".request-callback").hover(function () {
          // ev.preventDefault();
          $("#Request_callback").addClass("show");
        });
        // });

        const d = new Date();
        $(".date-field").text(d);

        if ($("#Home").hasClass("main-page")) {
          ev.preventDefault();
          $("#Request_callback").addClass("show");
        }
      });

      $(window).scroll(function () {
        if ($(window).scrollTop() >= 300) {
          $(".fixed-top").addClass("fixed-header");
        } else {
          $(".fixed-top").removeClass("fixed-header");
        }
      });
    </script>
    <!-- API Calls -->
    <script type="text/javascript">
      $(document).ready(function () {
        //Validate Mobile Number
        $("#mobile_no").on("keypress", function (e) {
          var $this = $(this);
          var regex = new RegExp("^[0-9\b]+$");
          var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
          // for 10 digit number only
          if ($this.val().length > 9) {
            e.preventDefault();
            return false;
          }
          if (e.charCode < 54 && e.charCode > 47) {
            if ($this.val().length === 0) {
              e.preventDefault();
              return false;
            } else {
              return true;
            }
          }
          if (regex.test(str)) {
            return true;
          }
          e.preventDefault();
          return false;
        });
        $("#request_callback_no").on("keypress", function (e) {
          var $this = $(this);
          var regex = new RegExp("^[0-9\b]+$");
          var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
          // for 10 digit number only
          if ($this.val().length > 9) {
            e.preventDefault();
            return false;
          }
          if (e.charCode < 54 && e.charCode > 47) {
            if ($this.val().length === 0) {
              e.preventDefault();
              return false;
            } else {
              return true;
            }
          }
          if (regex.test(str)) {
            return true;
          }
          e.preventDefault();
          return false;
        });

        $("#request_callback_no").on("cut", function (e) {
          e.preventDefault();
        });
        $("#request_callback_no").on("copy", function (e) {
          e.preventDefault();
        });
        $("#request_callback_no").on("paste", function (e) {
          e.preventDefault();
        });
        $(document).keydown(function (event) {
          // 86 is the keycode of v
          if (event.ctrlKey == true && event.which == "86") {
            $("#d2").text("paste. not allowed!");
            event.preventDefault();
          }

          // 88 is the keycode of x
          if (event.ctrlKey == true && event.which == "88") {
            $("#d2").text("cut. not allowed!");
            event.preventDefault();
          }

          // 67 is the keycode of c
          if (event.ctrlKey == true && event.which == "67") {
            $("#d2").text("copy. not allowed!");
            event.preventDefault();
          }

          // Above all three can be combined into one, above is
          // executed separately for understanding purposes.
          /* if (event.ctrlKey==true && (event.which == '86' 
                || event.which == '67' || event.which == '88')) {
                    alert('cut. copy. paste. not allowed!');
                    event.preventDefault();
                } */
        });
        $(document).keydown(function (event) {
          // 86 is the keycode of v
          if (event.ctrlKey == true && event.which == "86") {
            event.preventDefault();
          }

          // 88 is the keycode of x
          if (event.ctrlKey == true && event.which == "88") {
            event.preventDefault();
          }

          // 67 is the keycode of c
          if (event.ctrlKey == true && event.which == "67") {
            event.preventDefault();
          }
          // Above all three can be combined into one, above is
          // executed separately for understanding purposes.
          /* if (event.ctrlKey==true && (event.which == '86' 
                || event.which == '67' || event.which == '88')) {
                    alert('cut. copy. paste. not allowed!');
                    event.preventDefault();
                } */
        });
        // end validate number

        //validate inputs
        $.each("#mobile_no".split(" "), function (i, v) {
          $(v).on("change", function () {
            var mobileNoTotal = 0;
            $.each("#mobile_no".split(" "), function (i, v) {
              mobileNoTotal += $(v).val().length;
            });
            if (mobileNoTotal < 10) {
              $("#ten_digit_no").attr("style", "display: block;");
              $("#stones_weight").attr("disabled", "disabled");
              $("#gross_weight").attr("disabled", "disabled");
            } else {
              $("#ten_digit_no").attr("style", "display: none;");
              $("#gross_weight").removeAttr("disabled");
              $("#stones_weight").removeAttr("disabled");
            }
          });
        });

        $("#gross_weight").on("keyup", function () {
          $("#stones_weight").val("");
          $("#net_weight_in_grams").val("");
        });

        //calculate weight
        $("#stones_weight").on("keyup", function () {
          var gross_weight = $("#gross_weight").val();
          var stones_weight = $("#stones_weight").val();
          var total_weight = parseInt(gross_weight) - parseInt(stones_weight);
          if (total_weight < 0) {
            alert("Stones weight should be less than gross weight");
            $("#stones_weight").val("");
            $("#net_weight_in_grams").val("");
          } else {
            $("#net_weight_in_grams").val(total_weight);
          }
        });

        //When users submits data
        $("#submitBtn").on("click", function (e) {
          var values = {};
          var total_inputs = 0;
          $.each(
            $("#goldPriceCalculator").serializeArray(),
            function (i, field) {
              values[field.name] = field.value;
              if (field.value != "") {
                total_inputs += 1;
              } else {
                total_inputs -= 1;
              }
            }
          );
          var input_leght = Object.keys(values).values();
          if (total_inputs == 6) {
            e.preventDefault();
            var form = $("#goldPriceCalculator");
            var url = "/get-goldprice?" + form.serialize();
            $.ajax({
              type: "POST",
              url: url,
              //data: values,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (data) {
                $("div.price-details").text("Rs. " + data.price);
                $("div.price-details").attr("style", "display: block;");
                $("#submitBtn").attr("style", "display: none;");
                // Ajax call completed successfully
                // alert("Form Submited Successfully");
              },
              error: function (data) {
                if (data["status"] == 400) {
                  alert("Please fill all the fields");
                } else {
                  alert("Something went wrong");
                }
              },
            });
          } else {
            alert("Please fill all the fields");
            e.preventDefault();
          }
        });
      });

      $("#request_callback_sidebar").submit(function (e) {
        if ($("#full_no, #phone_num").val() == "") {
          alert("Please fill all the fields");
          e.preventDefault();
        } else {
          e.preventDefault();
          var form = $("#request_callback_sidebar");
          var url = "/request-callback-sidebar?" + form.serialize();
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
              // Ajax call completed successfully
              if (data["status"] == 200) {
                $("#full_no, #phone_num").val("");
                $("#Request_callback").removeClass("show");
                // alert("Thank You for showing interest. team will contact you soon!");
                window.location.href =
                  "https://hindustangoldcompany.com/callform";
              }
            },
            error: function (data) {
              // Some error in ajax call
              alert(
                "Please try again with right input or call us for support on 8088550033!"
              );
            },
          });
        }
      });
      //popup
      $("#request_callbac").submit(function (e) {
        if ($("#full_name, #phone_number, #selectoption").val() == "") {
          alert("Please fill all the fields");
          e.preventDefault();
        } else {
          e.preventDefault();
          var form = $("#request_callbac");
          var url = "/request-callback-form?" + form.serialize();
          $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function (data) {
              // Ajax call completed successfully
              if (data["status"] == 200) {
                $("#full_name, #phone_number, #selectoption").val("");
                // alert("Thank You for showing interest. Our team will contact you soon!");
                window.location.href =
                  "https://hindustangoldcompany.com/requestform";
              }
            },
            error: function (data) {
              // Some error in ajax call
              alert(
                "Please try again with right input or call us for support on 8088550033!"
              );
            },
          });
          function closeModal() {
            $("#overlay").hide();
            $("#myModal").modal("hide");
          }
          $('form[name="myform"] input:reset').click(function () {
            $('form[name="myform"]')
              .find(":radio, :checkbox")
              .removeAttr("checked")
              .end()
              .find(":text, select")
              .val("");

            return false;
          });
        }
      }) <script>
        /*
  Yoast FAQ JS
*/
        jQuery(document).ready(function () {
          jQuery(".wp-block-yoast-faq-block .schema-faq-section:first-child")
            .addClass("active")
            .children(".schema-faq-answer")
            .slideDown(); //Remove this line if you dont want the first one to be opened automatically.
          jQuery(".schema-faq-question").on("click", function () {
            if (jQuery(this).parent().hasClass("active")) {
              jQuery(this).next().slideUp();
              jQuery(this).parent().removeClass("active");
            } else {
              jQuery(".schema-faq-answer").slideUp();
              jQuery(".schema-faq-section").removeClass("active");
              jQuery(this).parent().addClass("active");
              jQuery(this).next().slideDown();
            }
          });
        });
    </script>
  </body>
</html>
