{% extends "home.html" %}
{% block main %}

<section id="Home9" class="branches">
  <div class="overlay">

  </div>

  
<a href="https://wa.me/+919741637635" class="" target="_blank">
  <div class="float">
      <i class="fab fa-whatsapp my-float" target="_blank" rel="noopener noreferrer"></i>
  </div>
  <h1 class="text-center float1">
      Need Help?
  </h1>
</a>


  <div class="container" style="position:relative;z-index: 1;">
    <div class="row mt-banner">
      <div class="col-md-6 col-lg-6">
        <h1 class="heading">Our branches</h1>
      </div>
    </div>
  </div>
</section>


<section id="our-branches" class="rel">
  <div class="container">
    <h2 class="section-heading">Hindustan Gold Company Branches</h2>
    <div>
      <p class="para ">Our branches are open for you all 365 days and would be happy to help you release the pledged gold from Bank/Pawn Brokers/Private Banks. You could visit any <a href="/">gold buyers</a> nearest Branches of Hindustan gold company to experience the <a href="/services/">service</a> our team delivers experience from evaluating the GOLD to selling the GOLD.</p>
  </div>
    
    <form class="search-branch" action="/branches/" method="post">


      <div class="form-group">
        <label for="state">Select State</label>
        <select name="state" id="state" class="states form-select">
          <option value="">Select</option required>
          {% for state in states %}
          <option value="{{state.id}}">{{state.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="area">Select City</label>
        <select name="branches_locactions" id="branches_locactions" class="branches-area form-select active" required>
          <option value="">Select</option>
        </select>


      </div>
      <button type="submit" id="search__branch_btn" class="btn btn-default search-branches"><i
          class='fa fa-search'></i> Search</button>
    </form>

    <div class="flex-grid">

      {% include 'common/branches_div.html' %}
    </div>
  </div>
</section>

<section id="need-franchise">
  <div class="overlay">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-6 offset-md-1">
            <h2 class="section-heading">Need Franchise of <small>HINDUSTAN GOLD COMPANY</small></h2>
            <ul class="list-items">
              <li>Benefits
                <ul>
                <li>A brand that is trusted</li>
                <li>Ease to Earn</li>
                <li>Complete Infrastructure Guidance</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $("#state").change(function () {
      var selState = $(this).val();
      $("#branches_locactions").empty();
      $("#branches_locactions").append("<option value=''> Select </option>")
      $.ajax({
        url: "{{ url_for('api.api_get_city') }}",
        type: "POST",
        data: {
          state_id: selState
        },
        success: function (data) {

          $.each(data, function (key, value) {
            $("#branches_locactions").append("<option value='" + value.id + "'>" + value.name + "</option>");
          });

        }
      });
    });
    
  </script>
</section>



{% endblock %}